body {
    background-color: #ede7da !important;
    background-image: url("../images/day.png");
}

.wrap {
    margin-top: 10%;
}

.card {
    box-shadow: 0 0 15px 0 #CCC;
    background-color: #ede7da !important;
}

.bd-toc {
    position: fixed;
    top: 4rem;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
    width: border-box;
}

@media (min-width: 1200px) {
    .d-xl-block {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .float-box {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

.card-body p {
    text-indent: 2em;
    line-height: 1.8;
    word-break: break-all;
    font-size: 16px;
    overflow: hidden;
    margin: .8em 0;
}

.section-nav {
    border-left: 1px solid #eee;
}

.toc-entry, .toc-entry a {
    display: block;
}

.toc-entry a {
    color: #99979c;
}

.footer {
    margin-bottom: 3%;
}