.search-bar {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #c4c7ce;
    font-size: 16px;
}

input.search-bar:focus {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #c4c7ce;
}