div.result {
    margin-bottom: 14px;
    border-collapse: collapse;
}

h3.t {
    font-weight: 400;
    font-size: medium;
}

.showurl {
    color: green;
    font-size: 13px;
}

.showtext {
    color: #666;
}

.label {
    display: inline-block;
    padding: 2px 4px;
    text-align: center;
    vertical-align: text-bottom;
    line-height: 100%;
    color: #fff;
    overflow: hidden;
}

.detail {
    font-size: 12px;
    color: #999;
}