<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EverBook</title>
    <link rel="stylesheet" href="../static/css/everbook.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
<div class="auth">
    {% if username %}
        <a id="user" href="/user">{{ username }}</a>
    {% else %}
        <a id="login-button" href="/login">登录</a>
    {% endif %}

</div>
<div>
    <img id="logo" src="../static/images/logo.png" alt="logo">
</div>
<form method="get" action="/search/">
    <div class="form-group">
        <label for="search-input"></label><input id="search-input" required="required" name="keyword"/>
    </div>
    <div class="form-group">
        <button id="search-button" type="submit">搜索</button>
        <button id="lucky-button">了解更多</button>
    </div>
</form>
</body>
<script>
    $(document).ready(function () {
        if ($.cookie("login_status") !== null && window.location.pathname !== "/") {
            window.location.href = "/";
        }
    })
</script>
</html>