<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录 - EverBook</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/material-kit/2.0.6/css/material-kit.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
</head>
<body>
<div class="page-header header-filter"
     style="background-image: url('../static/images/bg.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                    <form class="form" method="post" action="/login" id="loginForm" name="loginForm"
                          onsubmit="return false">
                        <div class="card-header card-header-success text-center">
                            <h4 class="card-title">登录</h4>
                            <div class="social-line">
                                <a href="#" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">face</i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="你的名字/邮箱" name="username"
                                       required="required">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" placeholder="你的密码" name="password"
                                       required="required">
                            </div>
                        </div>
                        {% if error %}
                            <small class="form-text text-center" style="color: red">{{ error }}</small>
                        {% endif %}
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-success">登录</button>
                            <button type="button" class="btn btn-danger" onclick="register()">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function register() {
        window.location.href = "/register";
    }

    var form = document.getElementById("loginForm");
    form.addEventListener("submit", function () {
        var username = loginForm.username.value;
        var password = loginForm.password.value;
        if (username !== "" && password !== "") {
            // 登录
            $.ajax({
                url: "/login",
                type: "post",
                data: {
                    "username": username,
                    "password": password,
                },
                async: true,
                success: function (result) {
                    if (result.status === 0) {
                        Swal.fire({
                            type: 'success',
                            text: result.msg,
                            footer: '一秒后自动跳转，若无反应<a href="/">点击跳转</a>'
                        });
                        setTimeout(function () {
                            window.location.href = "/"
                        }, 1000);
                    } else {
                        Swal.fire({
                            type: 'error',
                            text: result.msg,
                        });
                    }
                }
            });
        } else {
            Swal.fire({
                type: 'error',
                title: '出错了...',
                text: '请完整填写表单',
            });
            event.preventDefault();
        }
    })
</script>
</html>